.screenSplit {padding-left: 10px;padding-right: 10px;float: left;white-space: nowrap;box-sizing: border-box;z-index: 1;}
body {background-color: black;font-size: small}
p, h1, h2, h3, ol {font-family: georgia;color: white}
table, th, td {font-family: georgia;color: white;text-align: left;padding: 5px;border: 2px solid white}
