body {
    font-family: calibri;
    background-color: black
}

div {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px
}

td,
th {
    text-align: left
}

p,
td,
th,
h1,
h2,
h3 {
    color: white;
    padding: 0px
}